class Season extends React.Component { 
  handleClick(e) {
    e.preventDefault(); 
  }

  render() {
    return( 
      <a onClick={this.handleClick} style={{cursor: "pointer"}}>
        <div className="season">
          <p>{this.props.season.name}</p>
        </div>
      </a>
    )
  }
}
