// Place all the styles related to the seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.season {
  height: 200px; 
  width: 400px; 
  margin: 10px; 
  padding: 20px; 
  border-style: solid; 
  border-radius: 50px; 
  display: inline-block; 
  background-color: orange; 
  text-align: center; 
}
